@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,100;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 body{
    color: rgb(255, 203, 231);
    font-size: 16px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    height: 100%;
 }

 .header{
    background: url("../img/font.jpg") transparent no-repeat center center / cover;
    padding: 10px 30px 350px 30px;
    background-attachment: fixed;
 }

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu{
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin: 15px 200px;
}

.header__inner>h1{
    margin: 0 10px;
    padding: 300px 0 0 0;
    font-size: 48px;
}

 .btn{
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #fff;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 30px;
 }

 .header__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .btn:hover{
    background-color: #fff;
    opacity: 0.7;
    width: 150px;
    height: 50px;
    color: rgb(3, 192, 192);
 }

 li{
    list-style-type: none;
 }

 .menu-btn:hover{
    font-size: 20px;
    font-weight: bold;
 }

 .header__inner>p{
    padding: 10px 0 0 0;
 }

.logo{
    font-size: 24px;
    font-weight: bold;
    margin: 15px 200px;
}

.block__services{
    display: flex;
    justify-content: center;
    text-align: center;
}

.block__services,
.footer{
    color: rgb(3, 192, 192); 
    width: 100%;
}

hr{
    width: 60px;
    border: none; 
    color: rgb(3, 192, 192); 
    background-color: rgb(3, 192, 192);
    height: 2px;
    margin: 15px 47.5%;
}

p{
    font-size: 20px;
}

.services>p{
    margin: 15px;
}

.services>h2{
    padding: 50px 0 0 0;
}

.fa-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 0 0;
    width: 1200px;
}

.fa-li{
    margin: 0 225px;
    font-size: 40px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10% 50%;
    padding: 10px;
}

.fa-li:hover{
    background-color: rgb(3, 192, 192);
    color: #fff;
    border: solid rgb(3, 192, 192);
    border-radius: 50% 10%;
}

.fa-ul h3{
    font-size: 18px;
    margin: 100px 0 10px -20px;
}

.fa-ul p{
    font-size: 16px;
    margin: 10px 0 50px -20px;
    width: 400px;
}

.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 25px;
    background-color: rgb(255, 203, 231);
    color: rgb(3, 192, 192);
    margin: 40px 0 0 0;
}

.footer__top{
    margin: 30px;
    font-size: 24px;
}

.footer__top>i{
    border: 1px solid rgb(3, 192, 192);
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
}

.footer__top>i:hover{
    background-color: rgb(3, 192, 192);
    color: rgb(255, 203, 231);
}

.footer__bottom span{
    margin-left: 1vh;
}

@media screen and (max-width: 375px) and (max-height: 625px){

    .body{
        width: 100%;
    }

    .header{
        justify-content: center;
        padding: 10px 30px 150px 30px;
        height: 625px;
    }

    .menu{
        display: none;
    }

    .footer__top{
        font-size: 18px;
        margin: 80px 5px 50px 5px;
    }

    .footer__bottom{
        font-size: 13px;
        margin: 50px 5px 80px 5px;
    }

    .fa-ul{
        display: flex;
        flex-direction: column;
    }

    .header__inner>h1{
        padding: 130px 0 0 0;
        text-align: center;
        color: rgb(69, 28, 82);
        text-shadow: 
		-0   -1px 0   rgb(255, 203, 231),
		 0   -1px 0   rgb(255, 203, 231),
		-0    1px 0   rgb(255, 203, 231),
		 0    1px 0   rgb(255, 203, 231),
		-1px -0   0   rgb(255, 203, 231),
		 1px -0   0   rgb(255, 203, 231),
		-1px  0   0   rgb(255, 203, 231),
		 1px  0   0   rgb(255, 203, 231),
		-1px -1px 0   rgb(255, 203, 231),
		 1px -1px 0   rgb(255, 203, 231),
		-1px  1px 0   rgb(255, 203, 231),
		 1px  1px 0   rgb(255, 203, 231),
		-1px -1px 0   rgb(255, 203, 231),
		 1px -1px 0   rgb(255, 203, 231),
		-1px  1px 0   rgb(255, 203, 231),
		 1px  1px 0   rgb(255, 203, 231);
    }

    .header__inner>p{
        text-align: center;
        color: rgb(69, 28, 82);
         text-shadow: 
		-0   -1px 0   rgb(255, 203, 231),
		 0   -1px 0   rgb(255, 203, 231),
		-0    1px 0   rgb(255, 203, 231),
		 0    1px 0   rgb(255, 203, 231),
		-1px -0   0   rgb(255, 203, 231),
		 1px -0   0   rgb(255, 203, 231),
		-1px  0   0   rgb(255, 203, 231),
		 1px  0   0   rgb(255, 203, 231),
		-1px -1px 0   rgb(255, 203, 231),
		 1px -1px 0   rgb(255, 203, 231),
		-1px  1px 0   rgb(255, 203, 231),
		 1px  1px 0   rgb(255, 203, 231),
		-1px -1px 0   rgb(255, 203, 231),
		 1px -1px 0   rgb(255, 203, 231),
		-1px  1px 0   rgb(255, 203, 231),
		 1px  1px 0   rgb(255, 203, 231);
    }

    hr{
        width: 40px;
        margin: 15px 48.5%;
    }

    .logo{
        margin: 15px 120px;
    }

}