@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,100;1,300&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   background-color: mintcream;
   color: rgb(17, 16, 16);
   font-size: 16px;
   font-weight: normal;
   font-family: 'Montserrat', sans-serif;
}

h1,
p{
   text-align: center;
   margin: 10px 0;
}

h2{
   text-align: left;
   font-weight: bold;
   margin: 10px 0 10px 60px;
   width: 100%;
}


h3{
   text-align: left;
   margin: 10px 0 20px 0;
}

a{
   color: rgb(47, 49, 54);
   font-weight: bold;
   text-decoration: none;
}

.header{
   padding: 20px;
}

.container{
   width: 100%;
   padding: 0 15px;
   margin: 0 auto;
}

.btn{
   display: inline-block;
   text-decoration: none;
   text-align: center;
   line-height: 29px;
   width: 96px;
   height: 31px;
   border: 1px solid rgb(139, 218, 255);
   border-radius: 4px;
   background-color: #fff;
   color: rgb(39, 39, 39);
   margin: 10px 0;
}

.btn:hover{
   box-shadow: 0px 1px 10px 1px rgb(54, 54, 54, 0.4);
}

.nav-lesson{
   background-color: #fff;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
   width: 350px;
   height: 165px;
   border: 1px solid #fff;
   border-radius: 5%;
   margin: 20px 10px 20px 50px;
   padding: 20px;
}

i{
   margin-right: 1vh;
}

span{
   margin-left: 130px;
   margin-top: 0;
   display: inline-block;
   white-space: nowrap;
   position: absolute;
}

.nav-inner{
   width: 100%;
   margin-bottom: 20px;
   padding: 20px;
   background: #fff;
   border-radius: 20px;
   display: flex;
   flex-wrap: wrap;
}

.blue:hover{
   background-color: rgb(225, 241, 255);
}

.green:hover{
   background-color: rgb(223, 255, 223);
}

.green{
   min-height: auto;
}

.nav-lesson:hover{
   box-shadow: none;
   box-shadow: 4px 4px 4px rgba(31, 31, 31, 0.2);
}

.contact{
   font-size: 60px;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(0, 0, 0);
   bottom: 100px;
   right: 100px;
   transform: 0.3s ease;
   animation: animate_grow 5s linear infinite;
}

.fa-telegram{
   color: #fff;
}

@keyframes animate_grow{
   0%{
      transform: scale(1);
   }

   50%{
      transform: scale(1.1);
   }

   100%{
      transform: scale(1);
   }
}

.contact:hover{
   background-color: rgb(36, 61, 107);
   width: 105px;
   height: 105px;
}

.contact:active{
   background-color: cornflowerblue;
   width: 120px;
   height: 120px;
}

.black{
   background-color: rgb(219, 219, 219);
}

@media (max-width: 900px){

   .fa-telegram{
      color: #fff;
      background: rgb(0, 0, 0);
      border-radius: 50%;
   }

   .contact{
      animation: none;
      width: 0;
      height: 0;
      margin: 50px;
   }

   .nav__inner{
      flex-direction: column;
   }

   .blue{
      height: 100%;
   }

   .green{
      height: 100%;
   }

   .contact:hover{
      width: 0;
      height: 0;
   }
   
   .contact:active{
      width: 0;
      height: 0;
   }

}

@media screen and (max-width: 480px){

   span{
      margin-left: 120px;
   }

}

@media screen and (max-width: 458px){

   span{
      margin-left: 110px;
   }

}

@media screen and (max-width: 446px){

   span{
      margin-left: 90px;
   }

}

@media screen and (max-width: 428px){

   span{
      margin-left: 70px;
   }

}

@media screen and (max-width: 404px){

   span{
      margin-left: 50px;
   }

}

@media screen and (max-width: 404px) and (min-width: 346px){

   span{
      margin-left: 20px;
   }

}

@media screen and (max-width: 346px) and (min-width: 52px){

   span{
      display: none;
      overflow: hidden;
   }

}