@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,100;1,300&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   background-color: mintcream;
   color: rgb(17, 16, 16);
   font-size: 16px;
   font-weight: normal;
   font-family: 'Montserrat', sans-serif;
}

h1,
p{
   text-align: center;
   margin: 10px 0;
}

h2{
   text-align: left;
   font-weight: bold;
   margin: 10px 0 10px 60px;
}


h3{
   text-align: left;
   margin: 10px 0 20px 0;
}

a{
   color: rgb(47, 49, 54);
   font-weight: bold;
   text-decoration: none;
}

.header{
   padding: 20px;
}

.container{
   width: 100%;
   padding: 0 15px;
   margin: 0 auto;
   height: 100%;
   float: left;
}

.btn{
   display: inline-block;
   text-decoration: none;
   text-align: center;
   line-height: 29px;
   width: 96px;
   height: 31px;
   border: 1px solid rgb(139, 218, 255);
   border-radius: 4px;
   background-color: #fff;
   color: rgb(39, 39, 39);
   margin: 10px 0;
}

.btn:hover{
   box-shadow: 0px 1px 10px 1px rgb(54, 54, 54, 0.4);
}

.nav-lesson{
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
   width: 350px;
   height: 165px;
   float: left;
   border: 1px solid #fff;
   border-radius: 5%;
   margin: 20px 10px 20px 50px;
   padding: 20px;
}

i{
   margin-right: 1vh;
}

.sprint2{
   margin: 480px 0 10px 60px;
}


span{
   margin-left: 130px;
   margin-top: 0;
   display: inline-block;
   white-space: nowrap;
   position: absolute;
}

.nav-inner:hover{
   background-color: rgb(215, 228, 255);
}