*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: antiquewhite;
}

h1{
   font-size: 36px;
   color: #fff;
}

h2{
   font-size: 30px;
   color: #fff;
   text-align: center;
}

ul{
   list-style-type: none;
}

ul>li{
   font-size: 24px;
   padding: 10px;
}

li:hover{
   font-size: 30px;
   color: rebeccapurple;
}

.container{
   width: 100%;
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}

.header-inner,
.footer-inner{
   width: 100%;
   height: 150px;
   background-color: rgb(19, 19, 19);
   display: flex;
   justify-content: center;
   align-items: center;
}

.main-inner{
   width: 100%;
   display: flex;
}

.aside-left{
   width: 30%;
   height: 670px;
   background-color: rgb(247, 247, 28);
   padding: 25px;
}

.aside-left__menu{
   display: flex;
   flex-direction: column;
}

.aside-right{
   width: 70%;
   height: 670px;
   background-color: rgb(117, 117, 117);
   display: flex;
   flex-direction: column;
   justify-self: space-around;
   padding: 25px;
}

.article-image{
   width: 100%;
   height: 400px;
   background-image: url(../img/flexbox.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.article-bottom{
   padding: 20px;
}

.article-bottom__block{
   width: 100%;
   height: 200px;
   padding-top: 20px;
   margin: 20px;
   display: flex;
   justify-self: space-between;
}

.block{
   width: 25%;
   height: 150px;
   margin: 20px;
   background-color: rgb(15, 15, 15);
}

.block:hover{
   width: 26%;
   height: 160px;
   background-color: rgb(233, 155, 233);
}


