/*підключення шрифтів*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300&display=swap');

/*загальні стилі, обнулення*/
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

:root{
   --text1: rgb(37, 37, 37);
   --text2: rgb(100, 100, 100);
}

body{
   color: var(--text1);
   font-family: 'Roboto', sans-serif;
   font-size: 24px;
   line-height: 30px;
   width: 100%;
}


#menu-mobile{
   display: none;
}

.conteiner{
   width: 940px;
   margin: 0 auto;
}

/*стилі для меню*/
.menu{
   display: flex;
   justify-content: space-between;
   list-style: none;
   margin: 0 auto;
   font-size: 24px;
   height: 130px;
   width: 940px;
   line-height: 130px;
}

.nav{
   position: fixed;
   z-index: 2;
   background-color: #fff;
   width: 100%;
   margin-top: -130px;
}

.menu a{
   text-decoration: none;
   color: var(--text2);
}

.home a{
   color: var(--text1);
}

#screen1 {
   width: 100%;
   margin-top: 130px;
}

/*особливі шрифти*/
h1, 
h2, 
.menu, 
.language{
   font-family: 'Righteous', cursive;
}

/*відступи від горизонтальної лінії*/
.header hr{
   margin: 50px 0;
}

/*стилі для хедера*/
.header{
   margin: 50px 0 45px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

h1{
   font-size: 48px;
   width: 242px;
   line-height: 56px;
}

.header p{
   width: 154px;
   margin-right: -65px;
}

.language{
   text-transform: uppercase;
   font-size: 18px;
   transform: rotate(-90deg);
   width: 81px;
   margin-top: -80px;
   color: var(--text2);
}

.language > .eng,
.language > .line{
   color: var(--text1);
}

/*картинка та її налаштування*/
.img{
   height: 435px;
   background-image: url("../img/img-desktop.jpg");
   margin-bottom: 100px;
}

/*другий екран*/
#screen2{
   background-color: rgb(240, 240, 240);
   padding: 50px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

#screen2 p{
   margin-top: 50px;
   width: 550px;
}

/*основні налаштування третього екрану*/
#screen3{
   text-align: center;
   padding: 100px 0;
}

#screen3 .main{
   margin: 50px 0;
}

/*картки із навичками*/
.skills{
   display: flex;
   justify-content: space-between;
}

.skills p{
   font-size: 18px;
   width: 123px;
   margin: 5px 0;
}

.skill-body{
   height: 253px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

/*четвертий екран*/
#screen4{
   padding: 50px 0 56.5px 0;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

#screen4 p{
   margin: 50px 0;
   width: 376px;
}

/*стилі для кнопки*/
.btn{
   width: 406px;
   height: 85px;
   background-color: var(--text1);
   margin: 50px 0 15px 0;
   font-weight: bolder;
   line-height: 85px;
}

.btn a{
   color: #fff;
   text-decoration: none;
}

/*налаштування іконок-посилань на соц-мережі*/
.icons{
   width: 393px;
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}

/*взаємодія із користувачем*/
/*з меню*/
.menu a:hover{
   color: var(--text1);
   font-size: 26px;
}

.menu .home a:hover{
   color: var(--text2);
}

/*з перемикачем мови*/
.language:hover{
   color: var(--text1);
}

.language > .eng:hover{
   color: var(--text2);
}

/*з картинкою*/
.img:hover{
   transform: 0.2s ease;
   animation: animate_grow 2s linear 1;
}

@keyframes animate_grow{
   0%{
      transform: scale(1);
   }

   50%{
      transform: scale(1.01);
   }

   100%{
      transform: scale(1);
   }
}

/*з кнопкою*/
.btn:hover{
   box-shadow: 0 0 10px 1px var(--text2);
   font-size: 28px;
}

/*плавна прокрутка*/ 
html {
   scroll-behavior: smooth;
 }

h1,
h2,
.header p,
.btn,
.skill-body,
.stars img,
#screen3 .main{
   transition: all 0.2s ease;
   -webkit-transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   -ms-transition: all 0.2s ease;
}
/*з текстом*/
h1:hover{
   font-size: 50px;
}

h2:hover{
   font-size: 32px;
}

.header p:first-of-type:hover{
   font-size: 26px;
}

#screen3 .main:hover{
   font-size: 25px;
}
/*з картками*/
.skill-body:hover{
   height: 257px;
}

.skill-body img:hover{
   width: 120px;
}

.stars img:hover{
   width: 31px;
}


/*мобільна версія*/ 
@media screen and (max-width: 375px){

/*загальні стилі*/   
  body{
      line-height: 18px;
  }

   .conteiner{
      width: 325px;
   }

   .menu,
   .language,
   hr{
      display: none;
   }

 /*стилі для хедера*/ 
  .header{
     margin-top: -105px;
     flex-direction: column;
     align-items: flex-start;
  }

  h1{
      font-size: 30px;
      width: 162px;
      line-height: 38px;
      margin: 10px 0;
   }

   .header p{
      font-size: 16px;
      width: 120px;
      line-height: 20px;
   }

   .img{
      height: 416px;
      background-image: url("../img/mobile/img-mobile.jpg");
      margin-bottom: 50px;
   }

 /*текст*/ 
   h2{
      font-size: 24px;
   }

   p{
      font-size: 12px;
   }

 /*відступи лоя 2, 3 і 4 екранів*/ 
   #screen2,
   #screen4{
      padding: 25px 0;
   }

   #screen3{
      padding: 50px 0;
   }


/*екран 2*/ 
   #screen2 p{
      width: 210px;
   }


 /*екран 3*/ 
   #screen3 p{
      margin: 25px 0;
   }
 /*картки з навичками*/ 
   .skills{
      flex-direction: column;
   }

   .skill-body{
      margin: 25px 0;
   }

   .skills p{
      margin: 0;
   }

 /*екран 4*/ 
   #screen4 p{
      width: 204px;
   }
 /*кнопка*/ 
   .btn{
      width: 248px;
      height: 60px;
      font-size: 13px;
      line-height: 60px;
      margin: 25px 0 13px 0;
   }
 /*іконки з посиланнями на соц-мережі*/ 
   .icons{
      width: 248px;
   }

   .icons img{
      width: 38px;
   }

/*взаємодія із користувачем*/
/*з кнопкою*/
.btn:hover{
   box-shadow: 0 0 10px 1px var(--text2);
   font-size: 20px;
}
/*з перемикачем мови*/
.language:hover{
   color: var(--text1);
}

.language > .eng:hover{
   color: var(--text2);
}
/*з картинкою*/
.img:hover{
   transform: 0.2s ease;
   animation: animate_grow 2s linear 1;
}

@keyframes animate_grow{
   0%{
      transform: scale(1);
   }

   50%{
      transform: scale(1.01);
   }

   100%{
      transform: scale(1);
   }
}


/*з меню*/
#menu-mobile{
   position: absolute;
   display: block;
   width: 375px;
   margin-left: 300px;
   margin-top: 15px;
   font-family: 'Righteous', cursive;
}

.menu-mobile .close-menu{
   display: none;
   width: 26px;
   margin-left: 252px;
   margin-top: -20px;
}

.menu-mobile{
   display: none;
   position: absolute;
   z-index: 1;
   background-color: #fff;
   width: 100%;
   padding: 48px;
}

.menu-mobile a{
   text-decoration: none;
   color: var(--text2);
}

.home a{
   color: var(--text1);
}

.menu-mobile:hover{
   position: absolute;
   z-index: 3;
}

#menu-mobile:hover .menu-mobile{
   display: block;
   height: 630px;
   list-style: none;
   position: absolute;
   margin-left: -300px;
   margin-top: -25px;
}

#menu-mobile:hover .menu-mobile .conteiner-menu{
   height: 340px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-top: -20px;
}

#menu-mobile:hover .open-menu{
   display: none;
}

#menu-mobile .close-menu{
   display: block;
}

#menu-mobile .language{
   display: block;
   transform: rotate(90deg);
   margin-left: 227px;
   position: absolute;
   bottom: 48px;
}

h1,
h2,
.btn,
.skill-body,
.stars img,
#screen3 .main{
   transition: all 0.2s ease;
   -webkit-transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   -ms-transition: all 0.2s ease;
}
/*з текстом*/
h1:hover{
   font-size: 32px;
}

h2:hover{
   font-size: 22px;
}

#screen3 .main:hover{
   font-size: 14px;
}

.header p:first-of-type:hover{
   font-size: 16px;
}
/*з картками*/
.skill-body:hover{
   height: 257px;
}

.skill-body img:hover{
   width: 120px;
}

.stars img:hover{
   width: 31px;
}

}