@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto+Slab:wght@300;500;800&display=swap');

body{
    background: #212121;
    font-size: 22px;
    line-height: 32px;
    color: #fff;
    word-wrap: break-word;
    font-family: 'Roboto Slab', serif;
}

a{
    color: #fff;
}

.conteiner{
    margin: 0 auto;
}

nav{
    margin: 50px 0;
    background: #E64A19;
}

nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li{
    display: inline-block;
    background: #E64A19;
}

nav a{
    display: block;
    padding: 0 10px;
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

nav a:hover{
    background: #000;
}

nav ul ul{
    display: none;
    position: absolute;
    top: 60px;
}

nav ul li:hover > ul{
    display: inherit;
}

nav ul ul li{
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 170px;
}

li>a::after{
    content: '+';
}

li>a:hover::after{
    content: '-';
}

li>a:only-child::after{
    content: '';
}

p, nav{
    font-family: 'Montserrat', sans-serif;
}

p, h1{
    text-align: center;
}

@media screen and (max-width: 1016px){

    body{
        font-size: 1rem;
    }

    nav a{
        font-size: 0.8rem;
        line-height: 40px;
    }

    nav ul ul li{
        width: 120px;
    }

    nav ul ul ul li{
        left: -120px;
        top: -40px;
    }

    nav ul ul ul ul li{
        left: 120px;
    }

}